<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <link rel="stylesheet" href="../../css/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../../css/style.css">
</head>
<body>

  <div class="container" id="main-window">
    <h1>Happy Place</h1>
    <ul id="happy-list" class="collection hide"></ul>
    <button id="create-item-button" class="btn btn-primary waves-effect waves-light">+</button>

    <input type="file" id="filepicker" name="fileList" webkitdirectory multiple />
    <div id="picture-show" class="hide carousel"></div>
  </div>

  <!-- <script src="../../css/materialize/js/materialize.min.js"></script> -->
  <script src="mainWindow.js"></script>
</body>
</html>