<!DOCTYPE html>
<html lang="en">
<head>
  <title>add shopping list item</title>
  <link rel="stylesheet" href="../../css/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
  <form>
    <div>
      <label for="add-item">Enter Item</label>
      <input type="text" name="add-item" id="item" autofocus>
      <button class="btn btn-primary" type="submit" id="add-item-button">add Item</button>
    </div>
  </form>
  <script src="../../style/materialize/js/materialize.min.js"></script>
  <script src='addWindow.js'></script>
</body>
</html>